<doctype HTML5>
<html lang="en-US">
<head>
    <meta charset="utf -8">
    <title>Phonebook Query</title>
    <link rel="stylesheet" href="css2/style2.css">
</head>
<body>
<div id = "banner">
<center><i>Mined Minds Phonebook<i></center>
</div>
<div id = "login_boxes">
<h4>Login to our secure online database</h4>
<form class="phone" action="/login" method="post">
	<input type = "text" name = "username">
	<input type = "password" name = "password">
	<input type = 'submit' value="signin" onclick="">
</form>
</div>
<div id = "login_boxes">
<h4>To create a new account, select a username and password</h4>
<form method="post" action='/register'>
	<input type = "text" name = "user_name">
	<input type = "password" name = "pass_word">
	<input type = 'submit' value="signup" onclick= "">
</form>
</div>