<h4>Add your number to our online database</h4>
<form class="phone" action="add_phone" method="POST">
<div class="input-group">
<input type="text" class="form-control" name="phone" placeholder="(000)000-0000">
<span class="input-group-btn">
<button class="btn btn-default" type="submit"></button>
</span>
</div>
<!-- /input-group -->
</form>