<doctype HTML5>
<html lang="en-US">

<meta charset="utf -8">   
<link rel="stylesheet" href="css2/style2.css">
<div id = "banner">
<center><i>Mined Minds Phonebook<i></center>
</div>   
<font size="4">The credentials that you entered were not found on our database. Please check your logon information and click here to try again.</font>
<form method = 'post' action = '/wrong'>
	
	<input type = 'submit'>
</form>